/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* float */
.flt-lft {
    float: left;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}
.white {
    color: white;
}
.gray {
    color: lightgray;
}

p {
    font-size: 14.5px;
    line-height: 1.8;
    margin-bottom: 30px;
}
h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
h2 {
    font-size: 32px;
    margin-bottom: 30px;
}
h3 {
    font-size: 22px;
    margin-bottom: 30px;
}
h4 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
a {
    font-size: 14.5px;
}
.nmbr {
    font-size: 35px;
    font-weight: bold;
}
.nmbr::after {
    content: " +";
    font-size: 35px;
    font-weight: normal;
}
.nmbr-big {
    font-size: 45px;
    font-weight: bold;
}
.txt-small {
    font-size: 11px;
}
.txt-cntr {
    text-align: center;
}
.txt-right {
    text-align: right;
}

/* layout */
.layout-one {
    width: 70%;
    margin: auto;
}
.layout-two {
    width: 85%;
    margin: auto;
}
.layout-three {
    width: 50%;
    margin: auto;
}
.layout-four {
    width: 80%;
    margin: auto;
}
/* image */
img {
    max-height: 100%;
    max-width: 100%;
}
/* link */
a {
    text-decoration: none;
    color: inherit;
}
/* list */
.list-type-one,
.list-type-two,
.list-type-three {
    list-style: none;
}
.list-type-one li,
.list-type-three li {
    display: inline-block;
    padding: 0 10px;
}
.list-type-one li:last-child,
.list-type-three li:first-child {
    padding: 0;
}

.list-type-two,
.list-type-three {
    font-size: 14.5px;
}
.list-type-two {
    text-align: left;
    margin-bottom: 40px;
}
/*  */

/* buttons */
.btn {
    font-size: 12px;
    border-radius: 5px;
    padding: 9px 7px;
    border: 1px solid #fe775a;
}
.btn-white {
    color: #fe775a;
    margin: 0 20px;
}
.btn-orange {
    color: white;
    background-color: #fe775a;
}
.btn-big {
    line-height: 50px;
    padding: 18px 35px;
}
/* icons */
.list-type-one .fas.fa-chevron-down {
    padding-left: 15px;
}
.fa-globe-europe {
    padding-right: 5px;
}
.fa-search {
    color: #30b4c9;
}
.fa-check-circle {
    padding-right: 10px;
    color: #fe775a;
}

/* HEADER */
/* nav fixed */
.nav-fxd-container {
    height: 75px;
    line-height: 75px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #384c5f;
}
.nav-fxd {
    width: 50%;
}

#language {
    border-right: 1px solid;
    padding-right: 20px;
}
.nav-fxd a:last-child:not(.btn) {
    padding-left: 25px;
    }

/* nav */
.nav-container {
    height: 75px;
    line-height: 75px;
    margin-top: 75px;
    background-color: white;
}
.nav {
    width: 50%;
}

.jumbotron-container {
    position: relative;
    height: 630px;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #fff4ef;
}
.jumbotron-lmnts {
    width: 35%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.jumbotron-lmnts .txt-small {
    margin-top: 30px;
}
.green-bar {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 75px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #384c5f;
    border-bottom: 3px solid #384c5f;
}
/* MAIN */
.main-container {
    background-color: #f4f9fd;
}
/* section 1 */
.sctn-1 {
    height: 500px;
}

.sctn-1-image-container {
    height: 175px;
}



/* section 2 */
.sctn-2 {
    height: 1200px;
}
/* section 2 - big hub */
.hub-big,
.hub-lmnt {
    border-radius: 5px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.hub-big {
    padding: 60px 0;
    margin-bottom: 50px;
}
.hub-big-left {
    width: 30%;
}
.hub-big-right {
    width: 70%;
}
.hub-big p {
    margin-bottom: 0px;
}
.hub-big h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bar {
    height: 1px;
    width: 100%;
}
/* section 2 - hubs */
.hub-lmnt {
    width: 30%;
    padding: 20px 0;
}
.center {
    margin: 0 5%;
}
.hub-image-container {
    height: 90px;
    margin-bottom: 20px;

}
/* section 3 */
.sctn-3 {
    padding-top: 50px;
    padding-bottom: 90px;
    /* background gradient */
    background-color: #00aab8;
    background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(0,187,167,1) 100%);
}
/* section 3 - text */
.sctn-3-text {
    margin-bottom: 50px;
}
/* section 3 - subsection 2 - float */
.sctn-3-sub-lmnt {
    width: 25%;
    padding: 15px 0;
    border-right: 1px solid white;
    text-align: center;
}
.sctn-3-sub-up {
    border-bottom: 1px solid white;
}
.sctn-3-sub-lmnt:last-child {
    border-right: none;
}
.sctn-3-sub-lmnt-image-container {
    height: 30px;
    margin-bottom: 7px;
}

/* section 4 */
.sctn-4 {
    background-color: white;
}
/* section 4 - subsecton 1 */
.sctn-4-sub-1 {
    padding: 40px 0;
}
/* section 4 - text */
.sctn-4-text {
    width: 20%;
}
/* section 4 - logos */
.sctn-4-logos {
   width: 80%;
   text-align: right;
   padding: 30px 0;
}
.logo-container {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.raw-up {
    margin-bottom: 20px;
}
/* section 4 - subsection 2 */
.sctn-4-sub-2 {
    padding-bottom: 40px;
}
.sctn-4-text-2 {
    height: 350px;
    width: 40%;
    padding: 30px 0;
}
.sctn-4-image-container {
    height: 350px;
    width: 60%;
    text-align: right;
}

/* FOOTER */
.ftr-container {
    /* height: 500px; */
    background-color: #32495b;
}
/* lists */
.ftr-list {
    height: 150px;
    width: 20%;
    background-color: thistle;
}
/* language */
.language {
    text-align: center;
}
/* bottom */
.bottom-lmnt {
    height: 150px;
    width: 50%;
    background-color: yellow;
}
.bottom-lmnt:last-child {
    text-align: right;
}