/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* float */
.flt-lft {
    float: left;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}
.white {
    color: white;
}
.gray {
    color: lightgray;
}
p {
    font-size: 14.5px;
    line-height: 1.8;
}
h2 {
    font-size: 32px;
    margin-bottom: 30px;
}
h3 {
    font-size: 22px;
    margin-bottom: 30px;
}
h4 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nmbr {
    font-size: 35px;
    font-weight: bold;
}
.nmbr::after {
    content: " +";
    font-size: 35px;
    font-weight: normal;
}
.nmbr-big {
    font-size: 45px;
    font-weight: bold;
}
.txt-small {
    font-size: 11px;
}
.txt-cntr {
    text-align: center;
}

/* layout */
.layout-one {
    width: 70%;
    margin: auto;
}
.layout-two {
    width: 80%;
    margin: auto;
}
.layout-three {
    width: 50%;
    margin: auto;
}
/* image */
img {
    max-height: 100%;
    max-width: 100%;
}
/* HEADER */
.hdr-nav-fxd-container {
    height: 75px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #384c5f;
}

.hdr-nav-container {
    height: 150px;
    background-color: white;
}

.jumbotron-container {
    position: relative;
    height: 630px;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #fff4ef;
}

.green-bar {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 75px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #384c5f;
    border-bottom: 3px solid #384c5f;
}
/* MAIN */
.main-container {
    background-color: #f4f9fd;
}
/* section 1 */
.sctn-1 {
    height: 500px;
}

.sctn-1-image-container {
    height: 175px;
}



/* section 2 */
.sctn-2 {
    height: 700px;
    background-color: red;
}
/* section 2 - subsection 1 */
.sctn-2-sub-1 {
    height: 250px;
    background-color: yellowgreen;
}
/* section 2 - subsection 2 */
.sctn-2-sub-2-lmnt {
    width: 32%;
    background-color: violet;
}
.center {
    margin: 0 2%;
}
.sctn-2-sub-2-image-container {
    height: 100px;

}
/* section 3 */
.sctn-3 {
    padding-top: 50px;
    padding-bottom: 90px;
    /* background gradient */
    background-color: #00aab8;
    background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(0,187,167,1) 100%);
}
/* section 3 - text */
.sctn-3-text {
    margin-bottom: 50px;
}
/* section 3 - subsection 2 - float */
.sctn-3-sub-lmnt {
    width: 25%;
    padding: 15px 0;
    border-right: 1px solid white;
    text-align: center;
}
.sctn-3-sub-up {
    border-bottom: 1px solid white;
}
.sctn-3-sub-lmnt:last-child {
    border-right: none;
}
.sctn-3-sub-lmnt-image-container {
    height: 30px;
    margin-bottom: 7px;
}

/* section 4 */
.sctn-4 {
    background-color: white;
}
/* section 4 - subsecton 1 */
.sctn-4-sub-1 {
    padding: 40px 0;
}
/* section 4 - text */
.sctn-4-text {
    width: 20%;
}
/* section 4 - logos */
.sctn-4-logos {
   width: 80%;
   text-align: right;
   padding: 30px 0;
}
.logo-container {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.raw-up {
    margin-bottom: 30px;
}
/* section 4 - subsection 2 */
.sctn-4-sub-2 {
    padding-bottom: 40px;
}
.sctn-4-text-2 {
    height: 350px;
    width: 40%;
    padding: 40px 0;
}
.sctn-4-image-container {
    height: 350px;
    width: 60%;
    text-align: right;
}

/* FOOTER */
.ftr-container {
    /* height: 500px; */
    background-color: #32495b;
}
/* lists */
.ftr-list {
    height: 150px;
    width: 20%;
    background-color: thistle;
}
/* language */
.language {
    text-align: center;
}
/* bottom */
.bottom-lmnt {
    height: 150px;
    width: 50%;
    background-color: yellow;
}
.bottom-lmnt:last-child {
    text-align: right;
}