/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* float */
.flt-lft {
    float: left;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}
.white {
    color: white;
}
.gray {
    color: lightgray;
}

a,
p {
    font-size: 14.5px;
}
p {
    line-height: 1.8;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 22px;
}
h4 {
    text-transform: uppercase;
    margin-top: 30px;
}
p,
h1,
h2,
h3,
h4 {
    margin-bottom: 30px;
}

.nmbr {
    font-size: 35px;
    font-weight: bold;
}
.nmbr::after {
    content: " +";
    font-size: 35px;
    font-weight: normal;
}
.nmbr-big {
    font-size: 45px;
    font-weight: bold;
}
.txt-small {
    font-size: 11px;
}
.txt-cntr {
    text-align: center;
}
.txt-right {
    text-align: right;
}
/* link */
a {
    text-decoration: none;
    color: inherit;
}
a:hover:not(.btn) {
    text-decoration: underline;
    color: #30b4c9;
}
/* layout */
.layout-one {
    width: 70%;
    margin: auto;
}
.layout-two {
    width: 85%;
    margin: auto;
}
.layout-three {
    width: 50%;
    margin: auto;
}
.layout-four {
    width: 80%;
    margin: auto;
}
/* image */
img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

/* list */
.list-type-one,
.list-type-two,
.list-type-three,
.list-type-footer {
    list-style: none;
    font-size: 14.5px;
}

.list-type-one li,
.list-type-three li {
    display: inline-block;
    padding: 0 10px;
}
.list-type-one li:last-child,
.list-type-three li:first-child {
    padding: 0;
}

.list-type-two {
    text-align: left;
    margin-bottom: 40px;
}

.list-type-two li::before,
.list-type-three li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    padding-right: 12px;
    font-weight: 900;
    color: #fe775a;
}

.list-type-footer li {
    padding: 10px 0px;
}
.list-type-footer li:first-child {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0px;
    color: white;
}
/* buttons */
.btn {
    font-size: 12px;
    border-radius: 5px;
    padding: 9px 7px;
    border: 1px solid #fe775a;
}

.btn-white {
    color: #fe775a;
    margin: 0 20px;
}
.btn-white:hover {
    background-color: #fe775a33;
}

.btn-orange {
    color: white;
    background-color: #fe775a;
}
.btn-orange:hover {
    opacity: 0.6;
}

.btn-footer {
    padding: 10px 8px;
    border: 1px solid white;
    background-color: white;
    color: #33475b;
}
.btn-footer:hover {
    opacity: 0.6;
}

.btn-big {
    line-height: 50px;
    padding: 18px 35px;
}
/* icons */
.list-type-one .fas.fa-chevron-down {
    padding-left: 15px;
}
.fa-globe-europe {
    padding-right: 5px;
}
.fa-search {
    color: #30b4c9;
}
.fa-check-circle {
    padding-right: 10px;
    color: #fe775a;
}

/* HEADER */
/* nav fixed */
.nav-fxd-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 75px;
    line-height: 75px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #384c5f;
}
.nav-fxd {
    width: 50%;
}

#language {
    border-right: 1px solid;
    padding-right: 20px;
}
.nav-fxd a:last-child:not(.btn) {
    padding-left: 25px;
}
/* /nav fixed */
/* nav */
.nav-container {
    height: 75px;
    line-height: 75px;
    margin-top: 75px;
    background-color: white;
}
.nav {
    width: 50%;
}

.jumbotron-container {
    position: relative;
    height: 630px;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #fff4ef;
}
.jumbotron-lmnts {
    width: 35%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.jumbotron-lmnts .txt-small {
    margin-top: 30px;
}
.green-bar {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 75px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #384c5f;
    border-bottom: 3px solid #384c5f;
}
/* MAIN */
.main-container {
    background-color: #f4f9fd;
}
/* section 1 */
.sctn-one {
    padding-top: 30px;
}
.sctn-one-image-container {
    height: 175px;
}
/* section 2 */
/* section 2 - big hub */
.hub-big,
.hub-lmnt {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.hub-big {
    padding: 60px 0;
    margin-bottom: 50px;
}
.hub-big-left {
    width: 30%;
}
.hub-big-right {
    width: 70%;
    padding-right: 150px;
}
.hub-big p {
    margin-bottom: 0px;
}

.hub-big h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
/* bars */
.bar {
    height: 0.5px;
    background-color: #33475b;
}
.bar-hub-big {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    margin-left: 40px;
}

/* section 2 - hubs */
.hub {
    margin-bottom: 50px;
}
.hub-lmnt {
    width: 30%;
    padding: 20px 0;
}
.center {
    margin: 0 5%;
}
.hub-image-container {
    height: 90px;
    margin-bottom: 20px;
}

.hub p {
    margin-bottom: 60px;
}
/* section 3 */
.sctn-three {
    padding-top: 50px;
    padding-bottom: 90px;
    /* background gradient */
    background-color: #00aab8;
    background: linear-gradient(90deg, rgba(0,167,186,1) 0%, rgba(0,187,167,1) 100%);
}
/* section 3 - text */
.sctn-three-text {
    margin-bottom: 50px;
}
/* section 3 - table */
.table-lmnt {
    width: 25%;
    padding: 15px 0;
    border-right: 1px solid white;
    text-align: center;
}
.table-up {
    border-bottom: 1px solid white;
}
.table-lmnt:last-child {
    border-right: none;
}
.table-logo-container {
    height: 30px;
    margin-bottom: 7px;
}
.table-lmnt p {
    margin-bottom: 0;
}
/* section 4 */
.sctn-four {
    background-color: white;
}
/* section 4 - up */
.sctn-four-up {
    padding: 40px 0;
}
/* section 4 - text */
.sctn-four-text-up {
    width: 20%;
}
/* section 4 - logos */
.brand {
   width: 80%;
   text-align: right;
   padding: 30px 0;
}
.brand-container {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.brand-up {
    margin-bottom: 20px;
}
/* section 4 - down */
.sctn-four-down {
    padding-bottom: 40px;
}
.sctn-four-text-down {
    height: 350px;
    width: 40%;
    padding: 30px 0;
}
.sctn-four-text-down p {
    margin-top: 30px;
}

.sctn-four-image-container {
    height: 350px;
    width: 60%;
    text-align: right;
}

/* FOOTER */
.footer-container {
    background-color: #32495b;
}
/* lists */
.footer-lists {
    padding-top: 25px;
}
.footer-list {
    width: 20%;
    margin-right: 50px;
}
#social a {
    padding-right: 16px;
}
/* language */
.language {
    margin-top: 75px;
    margin-bottom: 20px;
}

.bar-footer {
    background-color: lightgray;
}
/* bottom */
.bottom {
    margin-top: 50px;
}
.bottom-lmnt {
    width: 50%;
}
.bottom a {
    padding-left: 10px;
}